<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SYSi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SYSi.Properties.Settings>
            <setting name="IWindowBackdropType" serializeAs="String">
                <value>Tabbed</value>
            </setting>
            <setting name="IThemeType" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="Window_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Window_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Window_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Window_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsWindow_Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartUpCode" serializeAs="String">
                <value>xv1</value>
            </setting>
            <setting name="IsAutoHideNavPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="ObjectCornerRadius" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="IsNavPaneOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RefreshInfoInterval" serializeAs="String">
                <value>1000</value>
            </setting>
        </SYSi.Properties.Settings>
    </userSettings>
</configuration>